/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

body {
  font-family: sans-serif;
  background: #eff4f7;
}

body.morbo--angry {
  border: 15px solid #f5634c;
}

body.morbo--happy {
  border: 15px solid #78d255;
}

.content {
  max-width: 1024px;
  width: 60vw;
  margin: 100px auto;
}

.logo {
  width: 80px;
}

header {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__h1 {
}

header p {
  margin-left: 10px;
  font-style: italic;
  color: #757575;
}

.message {
  margin-bottom: 10px;
  border-bottom: 1px solid #c7e0ef;
  padding-bottom: 10px;
}

.message:last-child {
  border-bottom: none;
}

.message pre {
  display: inline-block;
  font-size: 16px;
}

.message span {
  color: gray;
  font-style: italic;
}

h3 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 18px;
}

.box {
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#success {
  text-align: center;
}

#catGif {
  width: 500px;
  margin: 20px 0;
}